.shadowbox {
    width: 15em;
    border: 1px solid #3d3d3d;
    box-shadow: 8px 8px 5px #1f1e1e;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, rgb(56, 66, 60), #583638);
}

/* p is a selector for the element */
/* p {
    color: green;
    width: 500px;
    border: 1px solid black
} */

/* use commas to select multiple elements */
/* p, .myclass, #my-id {
    color: blue;
} */

li {
    background-color: rgb(44, 44, 44);
    border: 1px solid black;
    margin-bottom: 5px;
    padding-left: 10px;
    
}

html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;

    background-color: #1f1f1f;

}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

p, li {
    font-size: 16px;
    line-height: 2;
}

header {
    padding-top: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #333333;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.counter {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

button {
    box-sizing: border-box;
    background-color:#c4c4c4;
    color: rgb(17, 17, 17);
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 1vw;
}

button:hover {
    background-color: #9e9e9e;
    transition: .7s
}